/* Basic index-page stylesheet */
h1, h2, h3, h4, h5, button {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #333;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 50px;
    line-height: 55px;
    margin: 40px auto 20px auto;
}

h2 {
    font-weight: bold;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 10px;
}

p, li {
    font-family: 'PT Serif', serif;
    font-size: 18px;
    line-height: 30px;
}

/*ol, dl {
    font-family: inherit;
    font-size: 15px;
    line-height: 25px;
}*/

dt {
    color: #999;
}

dd {
    margin-bottom: 10px;
}

ul {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
}

.center {
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

.ad {
    margin: 10px auto;
}

body#nydailynews article {
    max-width: 1100px;
    margin: auto;
    float: none;
}

#sidebar {
    float: right;
    width: 300px;
}

.description {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #89898A;
    max-width: 75%;
}

p.byline {
    font: normal 14px "Open Sans", sans-serif;
    width: 90%;
    margin: auto;
    text-align: center;
}

#rh-subnav {
    display: none;
}





@media screen and (max-width: 642px) {
    #sidebar {
    float: none;
    width: 100%;
    }
}


@media only screen and (min-width: 800px) {
}

/* SHARE ICON CSS */
a {
    text-decoration: none;
    color: #2569D3;
}
#ra-share-top {
    width: 100%;
    margin-bottom: 20px;
}
.ra-share, .rt-share {
    position: relative;
}
#ra-share-top li {
    display: inline-block;
}
.ra-share li, .ra-share dd, .rt-share li, .rt-share dd {
    color: white;
    margin-right: 20px;
}
.ra-share-e a, .rt-share-e a,
.ra-share-f a, .rt-share-f a,
.ra-share-t a, .rt-share-t a {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}
.ra-share-f, .rt-share-f {
    background: #2A6FBF;
}
.ra-share-t, .rt-share-t {
    background: #40BEF1;
}
.ra-share-e, .rt-share-e {
    background: #989898;
}
.ra-share-f:after, .rt-share-f:after {
    content: "\e741";
}
.ra-share-t:after, .rt-share-t:after {
    content: "\e74b";
}
.ra-share-e:after, .rt-share-e:after {
    content: "\e75a";
}
.ra-share a, .rt-share a {
    display: block;
    font-size: 0;
    height: 100%;
    cursor: pointer;
}
.ra-share-f, .rt-share-f, .ra-share-t, .rt-share-t, .ra-share-e, .rt-share-e, .ra-share-p, .rt-share-p, .ra-share-i, .rt-share-i {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.ra-share li:after, .ra-share dd:after, .rt-share li:after, .rt-share dd:after {
    font-size: 16px;
    color: white;
    cursor: pointer;
}
.ra-share-f:after, .rt-share-f:after, .ra-share-t:after, .rt-share-t:after, .ra-share-e:after, .rt-share-e:after, .ra-share-p:after, .rt-share-p:after, .ra-share-i:after, .rt-share-i:after {
    font: 16px "themify";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}
